<h1 class="fw-300 mb-3">
	Reset Password
</h1>
<div class="card p-4 rounded-plus bg-faded">

    <message result="result"></message>

		<div class="form-group">
			<label class="form-label" for="email">Email</label>
      <input type="email" id="Email" name="Email" class="bg-white form-control" ng-model="dto.email" placeholder="Enter your email address"
      ng-class="result.errors.email ? 'is-invalid' : ''">
      <div class="invalid-feedback" ng-show="result.errors.email" ng-bind="result.errors.email"></div>
    </div>

    <div class="form-group">
			<label class="form-label" for="password">Password</label>
      <input type="password" id="Password" name="Password" class="bg-white form-control" ng-model="dto.password" placeholder="Enter your password"
      ng-class="result.errors.password ? 'is-invalid' : ''">
      <div class="invalid-feedback" ng-show="result.errors.password" ng-bind="result.errors.password"></div>
    </div>

    <div class="form-group">
			<label class="form-label" for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="Password" class="bg-white form-control" ng-model="dto.confirmPassword" placeholder="Enter your password"
      ng-class="result.errors.confirmPassword ? 'is-invalid' : ''">
      <div class="invalid-feedback" ng-show="result.errors.confirmPassword" ng-bind="result.errors.confirmPassword"></div>
    </div>


		<div class="row no-gutters text-right">
			<div class="col">
        <button type="submit" class="btn btn-primary" ng-click="submit()">Reset Password</button>
			</div>
		</div>

</div>
