<table align="center" border="0" cellpadding="0" cellspacing="0" class="m-wrap" width="600">
	<tbody>
		<tr>
			<td height="75">
			</td>
		</tr>
		<tr>
			<td>
				<h3 style="margin: 0px; color: #454545;">
					<font face="Arial, Helvetica, sans-serif" size="+2">Forgot your password?</font>
				</h3>
				<p style="margin: 25px 0px; line-height: 24px;">
					<font color="#5e5e5e" face="Arial, Helvetica, sans-serif" size="3">
						Please click the below URL, it will be directed to a secure page where you can reset your password.
					</font>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" width="170">
					<tbody>
						<tr>
							<td align="center" bgcolor="#2198F3" height="36" valign="middle">
								<a href="{%WebsiteUrl%}/admin/auth/{%ResetPasswordLink%}" style="border: none; text-decoration: none; font-size: 14px; font-weight: 700; text-transform: uppercase;"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif">RESET PASSWORD</font> </a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="left" height="100" valign="middle">
				<hr style=" margin:0px; border:none; height:1px; background:#c7c7c7;" />
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin: 0px 0px 30px;">
					<font color="#5e5e5e" face="Arial, Helvetica, sans-serif" size="3">
						Do you need help? Please don't hesitate to contact us at <a href="mailto:{%ContactEmail%}" style="color: #4D817C">{%ContactEmail%}</a>.
					</font>
				</p>
				<h4 style="margin: 0px; line-height: normal;">
					<font color="#5e5e5e" face="Arial, Helvetica, sans-serif" size="3">The {%WebsiteName%} team</font>
				</h4>
				<p style="margin: 5px 0px 0px;">
					<a href="{%WebsiteUrl%}"><font color="#4D817C" face="Arial, Helvetica, sans-serif" size="3">{%WebsiteUrl%}</font> </a>
				</p>
			</td>
		</tr>
		<tr>
			<td height="75">
			</td>
		</tr>
	</tbody>
</table>
